{% extends 'base.html'%}
{% block content%}
<div class="contentcontainer-fluid">
    <div class="page-header">
        <div class="rowalign-items-center">
            <div class="col">
                <h3 class="page-title">TakeAttendance</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="subjects.html">Attendance</a>
                    </li>
                    <li class="breadcrumb-itemactive">TakeAttendance</li>
                </ul>
            </div>
        </div>
    </div>
    {%include 'includes/messages.html'%}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    {%if action is None%}
                    <form action="?action=get_subject" method="post">
                        {%csrf_token%}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title">
                                    <span>SubjectInformation</span>
                                </h5>
                            </div>
                            <div class="col-12 col-sm-6">
                                <label>subjects</label>
                                <select class="form-control" name="subject_id" required>
                                    <option>Select subjects</option>
                                    {%if subjects%}
                                    {%for subject in subjects%}
                                    <option value="{{subject.id}}">{{subject.name}}</option>
                                    {%endfor%}
                                    {%else%}
                                    <option>Nocour seavailable</option>
                                    {%endif%}
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <label>sessionYear</label>
                                <select class="form-control" name="session_year_id" required>
                                    <option>SelectSession</option>
                                    {%if session_years%}
                                    {%for session_year in session_years%}
                                    <option value="{{session_year.id}}">
                                        {{session_year.session_start}}TO{{session_year.session_start}}
                                    </option>
                                    {%endfor%}
                                    {%else%}
                                    <option>Nosession_yearsavailable</option>
                                    {%endif%}
                                </select>
                            </div>
                            <div class="col-12 mt-3">
                                <button type="submit" class="btn btn-primary">
                                    FetchStudent
                                </button>
                            </div>
                        </div>
                    </form>
                    {%else%}
                    <form action="{%url 'staff_save_attendance_report'%}" method="post">
                        {%csrf_token%}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title">
                                    <span>SubjectInformation</span>
                                </h5>
                            </div>

                            <div class="col-12col-sm-6">
                                <label>subject</label>
                                <select class="form-control" name="subject_id" required>
                                    <option value="{{get_subject.id}}">{{get_subject}}</option>

                                </select>
                            </div>
                            <div class="col-12col-sm-6">
                                <label>Sessionyear</label>
                                <select class="form-control" name="session_year_id" required>
                                    <option value="{{get_session_year.id}}">{{get_session_year}}</option>
                                </select>
                            </div>
                            <div class="col-12col-sm-6">
                                <div class="form-group">
                                    <label>AttendanceDate</label>
                                    <input type="date" class="form-control" name="Attendance_date" required/>
                                </div>
                            </div>
                            {%for student in students%}
                            <div class="col-12mt-4mt-3">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                           value="{{student.id}}" name="student_id">
                                    <label class="form-check-label" for="exampleCheck1">{{student.admin.first_name}}{{student.admin.last_name}}</label>
                                </div>
                            </div>
                            {%endfor%}
                            <div class="col-12mt-3">
                                <button type="submit" class="btnbtn-primary">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>


                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}